*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fab22e;
}
.wrapper{
    width:80vmin;
    padding: 50px 40px;
    background-color: #15161a;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(97,63,0,0.4);
}
span{
    display: block;
    text-align: center;
    font-size: 100px;
}